.item {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px;
  width: 400px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.item:hover {
  transform: translateY(-5px);
}

.image {
  border-radius: 15px;
  width: 100px;
  height: 100px;
  margin-right: 20px;
  object-fit: cover;
}

.details {
  flex-grow: 1;
}

.title {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.button {
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #5c6bc0;
  color: #fff;
  font-size: 1em;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.button:hover {
  background-color: #3949ab;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
